# Ignore all files
*

# Allow these folders/files
!ip_adapter/
!tutorial_train_plus.py
!pyproject.toml
!README.md
!validate_recon.py
!outputs/
!ip_adapter-plus_demo.ipynb
!tutorial_train.py
!ip_adapter_demo.ipynb
!make_defects.py

# But inside ip_adapter, ignore nothing
!ip_adapter/**
!outputs/**